<div class="content">
	<h1>All Events</h1>
	{{#if errors.length}}
		<p>Oh no, something went wrong:</p>
		<ul>
			{{#each errors}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
	{{else}}
		
		{{#if events.length}}
			<ul>
				{{#each events}}
					<li><a href="/events/{{date}}/{{id}}">{{title}}</a><p> - Hosted by: {{accountUsername}}</p></li>
				{{/each}}
			</ul>
		{{else}}
			<p>No events exist yet.</p>
		{{/if}}
	{{/if}}
	{{#if isLoggedIn}}
	<a class="button is-primary" href="/events/create">Create Event</a>
	{{/if}}
</div>